<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
        
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script>
    angular.module('telavox.test', [])
.factory('MySimulatedSlowHTTPService', function($q, $timeout) {
    var deferred = $q.defer();
    $timeout(function() {
        // Simulated slow fetch from an HTTP server
        var salida = [];
        for (var i = 0; i < 100; i++) {
            salida.push('Item '+i);
        }
        console.log("salida",salida);
        deferred.resolve(salida);
    }, 3000);
    return deferred.promise;
})
.controller('MyTestController', function($scope, MySimulatedSlowHTTPService) {
    $scope.mylist = MySimulatedSlowHTTPService;
});
    
</script>
    </head>
    <body >
        <h3>Titulo</h3>
        <div ng-app="telavox.test">
            
            <div data-ng-controller="MyTestController">
                <div class="alarm" ng-hide="mylist.length > 0">Cargando datos</div>
                <p data-ng-repeat="item in mylist" data-ng-bind="item">
                </p>
            </div>
        </div>
        <h3 > final</h3>
    </body>
</html>
