<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <style>
            .hecho-true{
                text-decoration:  line-through;
                color: gray;
            }
        </style>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
        <script>
            /**
             * Todas las variables dentro del controlador funcionan
             *  para su propio scope
             * @param {type} $scope
             * @returns {undefined}
             */
            function ControladorTareas($scope){
                $scope.tareas = [
                    {
                        texto:"Ser super heroico ",
                        hecho:true
                    },
                    {
                        texto:"Crear una aplicaion ",
                        hecho:false
                    }
                    
                ];
                
                $scope.agregarTarea= function (){
                  $scope.tareas.push({
                     texto: $scope.textoNuevaTarea,
                     echo : false
                  });
                  $scope.textoNuevaTarea = "";
                };
                
                $scope.restantes = function (){
                    var cuenta = 0;
                    angular.forEach($scope.tareas,function (tarea){
                        cuenta += tarea.hecho? 0:1;
                    });
                    return cuenta;
                };
                
                $scope.eliminar = function (){
                  console.info("eliminar");
                  var tareasViejas = $scope.tareas;
                  console.info(tareasViejas);
                    $scope.tareas = [];
                  angular.forEach(tareasViejas,function (tarea){
                      console.info(tarea,!(tarea.echo==true));
                      if(!(tarea.hecho)){
                        //console.info(tarea);  
                        $scope.tareas.push(tarea);
                      }
                  });
                };
            }
            
        </script>
    </head>
    <body ng-app>
        <h2>Lista de Tareas</h2>
        <div ng-controller="ControladorTareas">
            <span>{{restantes()}} de {{tareas.length}}</span>
            [ <a class="text-danger"
                 href=""
                ng-click="eliminar()">
                     Limpiar
            </a>]
            <ul>
                <li ng-repeat="tarea in tareas">
                    <input type="checkbox" ng-model="tarea.hecho">
                    <span class="hecho-{{tarea.hecho}}">{{tarea.texto}}</span>
                </li>
            </ul>
            <form ng-submit="agregarTarea()">
                <input type="text"
                       size="30"
                       placeholder="Agrega una nueva tarea"
                       ng-model="textoNuevaTarea"
                       />
                <button class="btn btn-primary"
                        type="submit">
                    Agregar        
                </button>
            </form>
        </div>
            
    </body>
</html>
