<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/" ng-app="appMaps">

<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <style>

    </style>
    <script src='bower_components/lodash/lodash.min.js'></script>
    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script>
        angular.module('appMaps', ['uiGmapgoogle-maps'])
                .controller('mainCtrl', function($scope, $log) {
                    $scope.map = {center: {latitude: 40.1451, longitude: -99.6680 }, zoom: 4 }
                    $scope.options = {scrollwheel: false};
                    $scope.marker = {
                        coords: {
                            latitude: 40.1451,
                            longitude: -99.6680
                        },
                        show: false,
                        id: 0
                    };

                    $scope.windowOptions = {
                        visible: false
                    };

                    $scope.onClick = function() {
                        $scope.windowOptions.visible = !$scope.windowOptions.visible;
                    };

                    $scope.closeClick = function() {
                        $scope.windowOptions.visible = false;
                    };

                    $scope.title = "Window Title!";

                    $scope.clicko = function(){
                        console.info("auch")
                        alert("auch");
                    };
                });
    </script>
    <!--css-->
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
            margin: 0px;
        }

        .angular-google-map-container { height: 400px; }


    </style>
</head>

<body>
<div id="map_canvas" ng-controller="mainCtrl">
    <div>{{title}}  <a href='#' ng-click="clicko()">hola</a></div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options" click="onClick()" events="marker.events" >
            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                <div>{{title}}  <a href='#' ng-click="clicko()">hola</a></div>

            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>

</div>
<!--example-->
</body>

</html>
