<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app='myApp'>
<head>
    <!--  
      --  A Master-Detail controller, using AngularJS
      --  Michael Gledhill, 2014
      --
      --  www.MikesKnowledgeBase.com
      -->
    <title>AngularJS Master Detail view</title>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script  type="text/javascript">
    	var myApp = angular.module('myApp', []);

//  Force AngularJS to call our JSON Web Service with a 'GET' rather than an 'OPTION'
//  Taken from: http://better-inter.net/enabling-cors-in-angular-js/
myApp.config(['$httpProvider', function ($httpProvider) {
    $httpProvider.defaults.useXDomain = true;
    delete $httpProvider.defaults.headers.common['X-Requested-With'];
}]);

myApp.filter('sumByKey', function () {
    return function (data, key) {
        if (typeof (data) === 'undefined' || typeof (key) === 'undefined') {
            return 0;
        }
        var sum = 0;
        for (var i = data.length - 1; i >= 0; i--) {
            sum += parseInt(data[i][key]);
        }
        return sum;
    };
})

myApp.filter('customSum', function () {
    return function (listOfProducts, key) {
        //  Count how many items are in this order
        var total = 0;
        angular.forEach(listOfProducts, function (product) {
            //            alert(product + "." + key);
            total += eval("product." + key);
        });
        return total;
    }
});

myApp.filter('countItemsInOrder', function () {
    return function (listOfProducts) {
        //  Count how many items are in this order
        var total = 0;
        angular.forEach(listOfProducts, function (product) {
            total += product.Quantity;
        });
        return total;
    }
});

myApp.filter('orderTotal', function () {
    return function (listOfProducts) {
        //  Calculate the total value of a particular Order
        var total = 0;
        angular.forEach(listOfProducts, function (product) {
            total += product.Quantity * product.UnitPrice;
        });
        return total;
    }
});

myApp.controller('MasterDetailCtrl',
function ($scope, $http) {

    //  We'll load our list of Customers from our JSON Web Service into this variable
    $scope.listOfCustomers = null;

    //  When the user selects a "Customer" from our MasterView list, we'll set the following variable.
    $scope.selectedCustomer = null;

    $http.get('http://inorthwind.azurewebsites.net/Service1.svc/getAllCustomers')

        .success(function (data) {
            $scope.listOfCustomers = data.GetAllCustomersResult;

            if ($scope.listOfCustomers.length > 0) {

                //  If we managed to load more than one Customer record, then select the first record by default.
                //  This line of code also prevents AngularJS from adding a "blank" <option> record in our drop down list
                //  (to cater for the blank value it'd find in the "selectedCustomer" variable)
                $scope.selectedCustomer = $scope.listOfCustomers[0].CustomerID;

                //  Load the list of Orders, and their Products, that this Customer has ever made.
                $scope.loadOrders();
            }
        })
        .error(function (data, status, headers, config) {
            $scope.errorMessage = "Couldn't load the list of customers, error # " + status;
        });

    $scope.selectCustomer = function (val) {
        //  If the user clicks on a <div>, we can get the ng-click to call this function, to set a new selected Customer.
        $scope.selectedCustomer = val.CustomerID;
        $scope.loadOrders();
    }

    $scope.loadOrders = function () {
        //  Reset our list of orders  (when binded, this'll ensure the previous list of orders disappears from the screen while we're loading our JSON data)
        $scope.listOfOrders = null;

        //  The user has selected a Customer from our Drop Down List.  Let's load this Customer's records.
        $http.get('http://inorthwind.azurewebsites.net/Service1.svc/getBasketsForCustomer/' + $scope.selectedCustomer)
                .success(function (data) {
                    $scope.listOfOrders = data.GetBasketsForCustomerResult;
                })
                .error(function (data, status, headers, config) {
                    $scope.errorMessage = "Couldn't load the list of Orders, error # " + status;
                });
    }
});

    </script>
    <style>
	#divMasterDetailWrapper
{
    width: 95%;
    height: 300px;
    border: 1px solid Green;
    padding: 3px;
    margin: 15px 5px 15px 30px;
    font-family: Arial;
    font-size: 12px;
}
#divMasterView
{
    width: 300px;
    height: 300px;
    background-color: #E0E0E0;
    margin-right: 5px;
    overflow-y: auto;
    float: left;
}
#divDetailView
{
    height: 300px;

    /* Fadey background CSS, created with: http://www.colorzilla.com/gradient-editor/ */
    background: #c6ffc6; /* Old browsers */
    background: -moz-linear-gradient(top,  #c6ffc6 0%, #f2fff2 51%, #c6ffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6ffc6), color-stop(51%,#f2fff2), color-stop(100%,#c6ffc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c6ffc6 0%,#f2fff2 51%,#c6ffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6ffc6', endColorstr='#c6ffc6',GradientType=0 ); /* IE6-9 */

    padding: 0;
    overflow-y: auto;
}

/*
    *   This is the CSS for one Customer record, in our Master view
    *
    *   Each Customer record will have one overall <div> element, with one sub-<div> for each Customer field
    *   that we want to display.
    *
    *   For example, the Customer City values will all be added to the DOM with a CSS class of "cssCompanyCity",
    *   which sets their position in the "Customer" <div> to (23px, 40px)
    */
.cssOneCompanyRecord {
    height: 47px;
    width: 98%;
    position: relative;         /* Very important, for appending child <div>s with absolute positioning later */
    border-bottom: 1px solid white;
}
.cssOneCompanyRecord:hover
{
    background-color: yellow;
    cursor: pointer;
}
.cssCompanySelectedRecord {
    /*  If this Company record has been selected, we'll display a Red vertical bar next to it */
    border-left: 2px solid Red;
    background-color: white;
}
.cssCompanyName
{
    position:absolute;
    top: 5px;
    left: 40px;
}
.cssCompanyCity
{
    position:absolute;
    top: 23px;
    left: 40px;
    color: #505050;
    font-size: 0.9em;
}
.cssCustomerID
{
    position:absolute;
    top: 31px;
    right: 5px;
    font-size: 0.7em;
    color: blue;
}
.cssCustomerIcon
{
    position:absolute;
    top: 12px;
    left: 7px;
    width: 24px;
    height: 24px;
}

/*
    *   This is the CSS for one "Order" record, in our Detail view
    *
    *   This one's a little more complicated, as, for each "Order", we'll have an Order Header, followed by a
    *   collection of "Product" <div>s in that order.
    *
    *   But, the theory is just the same.  Each "Product" values gets added to the DOM with a particular CSS class
    *   to allow us to set their position in the "Product" <div>.
    */

.cssOneOrderRecord
{
    width: 90%;
    position: relative;         /* Very important, for appending child <div>s with absolute positioning later */
    padding: 5px;
    border-bottom: 1px solid white;
    background-color: white;
    border: 1px solid #404040;
    margin: 15px 20px 15px 20px;
    overflow: no-display;
}
.cssOneOrderHeader {
    height: 40px;
    background-color: #E0E0E0;
    width: 100%;
    position: relative;
    margin: 0px 0px 4px 0px;

    background-image: url(Images/icnOrder.png);
    background-position: 10px 5px;
    background-repeat: no-repeat;
}
.cssOrderID
{
    position:absolute;
    left: 75px;
    top: 10px;
    font-weight: bold;
}
.cssOrderDate
{
    position:absolute;
    left: 300px;
    top: 10px;
}
.cssOneProductRecord
{
    width: 100%;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.cssOneProductQty
{
    position:absolute;
    left: 30px;
    top: 5px;
}
.cssOneProductName
{
    position:absolute;
    left: 100px;
    top: 5px;
}
.cssOneProductPrice
{
    position:absolute;
    left: 300px;
    top: 7px;
}
.cssOneProductSubtotal {
    position:absolute;
    left: 420px;
    top: 7px;
    overflow: hidden;
    height: 20px;
}
.cssOneOrderTotal {
    width: 100%;
    height: 32px;
    position: relative;
    background-color: #e0e0e0;
    margin: 10px 0px 4px 0px;
    font-weight: bold;
    border-top: dashed 1px black;
    overflow: hidden;
}

.cssProductEven {
    background-color: white;
}
.cssProductOdd {
    background-color: #F0F8F8;
}


    </style>

</head>
<body>
    <h1>AngularJS - Master Detail view</h1>
    <br />
    <div id="divMasterDetailWrapper" ng-controller='MasterDetailCtrl' style="position:relative;">
        <div style="left:-30px;top:-1px;position:absolute;">
            <img src="Images/tabAngularJS.png" />
        </div>
        <div id="divMasterView">
            <div id="{{customer.customerid}}" class="cssOneCompanyRecord" ng-class="{cssCompanySelectedRecord: Customer.CustomerID == selectedCustomer}" ng-repeat='Customer in listOfCustomers' ng-click="selectCustomer(Customer);">
                <div class="cssCompanyName">{{Customer.CompanyName}}</div>
                <div class="cssCompanyCity">{{Customer.City}}</div>
                <div class="cssCustomerID">{{Customer.CustomerID}}</div>
                <img src='Images/icnOffice.png' title="This is a tooltip for the company: {{Customer.CompanyName}}" class="cssCustomerIcon" />
            </div>
        </div>
        <div id="divDetailView">
            <!--  .$select('Order, sum(Quantity) as OrderTotal')-->
            <div id="Order_{{Order.OrderID}}" ng-repeat="Order in listOfOrders" class="cssOneOrderRecord">
                <div class="cssOneOrderHeader">
                    <div class="cssOrderID">Order # {{Order.OrderID}}</div>
                    <div class="cssOrderDate">Order Date: {{Order.OrderDate}}</div>
                </div>
                <div class="cssOneProductRecord" ng-repeat='Product in Order.ProductsInBasket | filter:ProductsInOrder' ng-class-odd="'cssProductOdd'" ng-class-even="'cssProductEven'">
                    <div class="cssOneProductQty">{{Product.Quantity}}</div>
                    <div class="cssOneProductName">{{Product.ProductName}}</div>
                    <div class="cssOneProductPrice">@ {{Product.UnitPrice | currency}}</div>
                    <div class="cssOneProductSubtotal">{{Product.UnitPrice * Product.Quantity | currency}}</div>
                </div>
                <div class="cssOneOrderTotal">
                    <div class="cssOneProductQty">
                        {{Order.ProductsInBasket|countItemsInOrder}} item(s), {{Order.ProductsInBasket.length}} product(s)
                    </div>
                    <div class="cssOneProductSubtotal">
                        {{Order.ProductsInBasket|orderTotal | currency}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
