<!DOCTYPE html>
<html lang="en" ng-app="LogInspector">
<head>
	<meta charset="UTF-8">
	<title>LogInspector</title>
	
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css" />
	
  <!-- <link rel="stylesheet" href="css/magic-bootstrap.css"> -->
	<!-- <link rel="stylesheet" href="css/darkly-bootstrap.css"> -->
<style>
		html,body{
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
		}
		.panelTemp{
			
			display: inline;
			height: 100%;
			width: 40%;
		}
		.todoAncho{
		width: 100%;	
		}
		.todoAlto{
			height: 100%;
		}
.itemLista{
	display: inline;
}


    .todoAlto2{
      height: 80%;

    }

    
    .navbar-brand{
      padding: 0px 3px;
    }


    .centrar{
      text-align:center;
      margin: 0 auto;
    }
    #map{
      height: 100%;
      width: 100%;
      margin: auto;
      background-color: #000088;
      min-height: 400px;
    }
    #vid{
      height: 80%;
      width: 80%;

      background-color: #008800;
    }

    .cargandoFoto{
      background-image: url('images/loading3.gif');
      /*background-color: blue;*/
      width: 100%;
      height: 100%;
    }

    .fail{
      background-image: url('images/fail.jpg');
      background-color: blue;
      width: 100%;
      height: 100%;
    }

    .textCenter{
      text-align: center;
    }

    #pnlList{
      padding-left: 5px;
    }

    .trackInfo{
      margin: 5px;
      padding: 10px 0 0 10px;
    }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    
    padding-left: 0;
    padding-right: 0;
    
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
}
	</style>
<link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css" />

	
</head>
<body>
	<div ng-controller="MasterDetailVuelo" class="container todoAlto">
		<div class="row">
		  <div  class="col-md-2">
			<accordion id="pnlList" close-others="oneAtATime" class="panel panel-default">		
				<h2 class="textCenter">Mis Vuelos</h2>
				<div ng-repeat="Vuelo in listVuelos" class="itemLista">
					
					<accordion-group >
				        <accordion-heading >
				            {{Vuelo.nom}}<i class="pull-right glyphicon glyphicon-chevron-down" ></i>
				        </accordion-heading>
				        <span>Duracion: {{Vuelo.len}}</span><br>
						<span>Comentarios:{{Vuelo.com}}</span><br>
						<span>Fotos:{{Vuelo.fot}}</span><br>
						<span>Com en Fot:{{Vuelo.fotcom}}</span><br>
						<button class="btn btn-deafault btn-xs" ng-click="selectVuelo(Vuelo)">Cargar Vuelo</button>
				    </accordion-group>
				    </br>


					
				</div>


				
			  </accordion>
			

			
		  </div>
		  <div class="col-md-10">
			<div class="container-fluid todoAlto">
  <div class="panel panel-default todoAlto">
    <div class="panel-heading">
      <h2 class="panel-title">{{selectedVuelo.nom}}</h2>
	  
      
      <div>
        <a class="btnpanelAnotaciones" href="#panelAnotaciones" >Fotos <span id="countFotos" class="badge">{{selectedVuelo.com}}</span></a>
    	<a class="btnpanelAnotaciones" href="#panelAnotaciones" >Comentarios <span id="countComentarios" class="badge">{{selectedVuelo.fot}}</span></a>
      </div>

    </div>
    <div class="panel-body todoAlto">

      <!--<div class="btn-group pull-right" data-toggle="buttons">
        <label id="btnActComentario"  class="btn btn-default btn-lg">
          <input type="checkbox" name="options"  autocomplete="off"> Agregar Comentario Georeferenciado
        </label>
      </div>-->
		


     <tabset justified="true" class="todoAlto">
	    <tab heading="Video-Track" class="todoAlto">
	    	 <progressbar ng-show="inLoad"  class="progress-striped active" value="dynamic" >Descargando <i>Cargando informacion del Vuelo</i></progressbar>

        <div class="panel panel-default">
          <div class="textCenter">
            <button ng-click="sendControlEvent(YT_event.PLAY)" class="btn btn-default btn-sm">
             <span class="glyphicon glyphicon-play" aria-hidden="true">Play</span>
             </button>
            <button ng-click="sendControlEvent(YT_event.PAUSE)" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-pause" aria-hidden="true">Pause</span>
            </button>
            <button ng-click="sendControlEvent(YT_event.STOP)" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-stop" aria-hidden="true">Stop</span>
            </button>

          </div>
         

        <!--<input type="range" min="0" max="100" ng-model="yt.ctime" ng-change="setCurrentTime()" />-->
        <div>
          <rzslider
                rz-slider-floor="0"
                rz-slider-ceil="lenvideo"
                rz-slider-model="yt.ctime"
                ng-change="setCurrentTime()"
                ng-model="yt.ctime"
                rz-slider-on-change="sliderOnChange()"
                ></rzslider>
        </div>
        


        </div> 
        
	    	 <div class="panel panel-default row todoAlto2">
                    <div class="col-md-2 todoAlto">
                      <!--<div id="infoTrackz">Iniciando Vuelo..</div>-->
                      <div class="panelVisor">
                        <div class="trackInfo bg-info">
                          Tiempo:
                          <div id="timeTrack">Sincronizando</div>
                        </div>
                        <div class="trackInfo bg-info">
                          Direccion:
                          <div id="dirTrack">Sincronizando</div>
                        </div>
                        <div class="trackInfo bg-info">
                          Latitud:
                          <div id="latTrack">Sincronizando</div>
                        </div>
                        <div class="trackInfo bg-info">
                          Longitud:
                          <div id="lonTrack">Sincronizando</div>
                        </div>
                        <div class="trackInfo bg-info">
                          Altura de vuelo:
                          <div id="altTrack">Sincronizando</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 todoAlto">

                      <div id="mapPanel" class="panel todoAlto panelVisor">

                        <div id="map" class="todoAlto" ng-init="initMap()"></div>
                      </div>
                    </div>
                    <div class="col-md-5 todoAlto">
                      <div id="playerPanel" class="panel todoAlto panelVisor">
                        <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}" len="lenvideo" ></youtube>

                      </div>

                    </div>
                  </div>
	    </tab>
	    <tab heading="Comentario/Fotos" class="todoAlto">

	    </tab>
	    
	  </tabset>




    </div>
  </div>



</div>
		  </div>

		</div>
	


		
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.13.1.min.js"></script>
	<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
  <script src="js/gmapLayerline.js"></script>
<script src="js/gmapMarkerMoveRotateUni.js"></script>
<script>
var TaskRegister=function () {
  
  this.endCallback = null;
  var objReturn = this;
  var taskList = {};

  var registerTask=function (nombre) {
    //console.info("nombre",taskList);
    var res = false;
    if (nombre) {
      if(!taskList.hasOwnProperty(nombre)){
        res = true;
      }
      //res = (taskList[nombre])?false:true;
      //console.info(res,taskList[nombre]);
      taskList[nombre]=false;
      
    };
    //console.info("res",res);
    return res;
  };
  var checkEndAllTask = function  (argument) {
    var keys = Object.keys(taskList);
    //console.info(keys);
    var cont = keys.length;
    var res = taskList[keys[0]] || false;
    for (var i = cont - 1; i >= 1; i--) {
      res = res && taskList[keys[i]];
    };
    return res;
  }
  var endTask=function (nombre) {
    var res = false;
    if (nombre) {
      if (taskList.hasOwnProperty(nombre)) {
        //console.info("si esta se va marcar como terminada");
        taskList[nombre]=true;
        res = true;
      };
      
    };
    //console.info("checkEndAllTask()",checkEndAllTask());
    if (this.endCallback && checkEndAllTask()) {
      this.endCallback();
    };
    return res;
  }
  objReturn.register=registerTask;
  objReturn.endTask = endTask;
  objReturn.isEndTask = checkEndAllTask; 
};
  
</script>

	<script>
		angular
      .module('youtube', [])
      .constant('YT_event', {
        STOP:            0,
        PLAY:            1,
        PAUSE:           2,
        STATUS_CHANGE:   3,
        GET_CURRENT_TIME:4,
        SET_CURRENT_TIME:5,
        GET_LEN_VIDEO:6
      })
    .directive('youtube', function($window, YT_event,$interval) {
      return {
        restrict: "E",

        scope: {
          height: "@",
          width: "@",
          videoid: "@",
          lenvid:'=len'
        },

        template: '<div class="youtubeDiretive"></div>',

        link: function(scope, element, attrs, $rootScope) {
          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          var player;

          var timeOutId = null;

          var oldCurrentTime = null;

          var inChange = false;

          function cancelInterval() {
            if (angular.isDefined(timeOutId)) {
              $interval.cancel(timeOutId);
              timeOutId = null;
            }
          }

          function updateVideoLen (argument) {
            if (player) {
              scope.lenvid = player.getDuration();
              console.info("updateVideoLen",scope.lenvid,player.getDuration());
              return scope.lenvid;
            };
            
          }

          scope.updateVideoLen = updateVideoLen;

          function reinicializeInterval(){
            cancelInterval();
            timeOutId = $interval(function () {
              var currentTime = player.getCurrentTime();
              if (currentTime != oldCurrentTime) {
              	console.info("en interval"+currentTime);
                scope.$emit(YT_event.GET_CURRENT_TIME, currentTime);
                oldCurrentTime = currentTime;
              };
              
            }, 1000);
          };

          $window.onYouTubeIframeAPIReady = function() {

            player = new YT.Player(element.children()[0], {
              playerVars: {
                autoplay: 0,
                html5: 1,
                theme: "light",
                modesbranding: 0,
                color: "white",
                iv_load_policy: 3,
                showinfo: 1,
                controls: 1
              },

              height: scope.height,
              width: scope.width,
              videoId: scope.videoid,

              events: {
                'onStateChange': function(event) {
                  console.info("onStateChange",event.data);
                  var message = {
                    event: YT_event.STATUS_CHANGE,
                    data: ""
                  };

                  switch(event.data) {
                    case YT.PlayerState.PLAYING:
                      message.data = "PLAYING";
                      if (inChange) {
                        updateVideoLen();
                        player.seekTo(0);
                        player.stopVideo();
                        inChange=false;
                      };
                      break;
                    case YT.PlayerState.ENDED:
                      message.data = "ENDED";
                      break;
                    case YT.PlayerState.UNSTARTED:
                      message.data = "NOT PLAYING";
                      break;
                    case YT.PlayerState.PAUSED:
                      message.data = "PAUSED";
                      break;
                    case YT.PlayerState.CUED:
                        message.data = "Video CUED";
                        //updateVideoLen();
                        break;
                    }
                        
                  

                  scope.$apply(function() {
                    scope.$emit(message.event, message.data);
                  });
                },
                'onReady':function(){
                  console.info("en onready");
                  reinicializeInterval();
                  
                  //console.info("scope.lenvid",scope.lenvid);
                  //console.info("parent", scope.$parent.lenvideo);
                  
                  //console.info("scope.lenvid",scope.lenvid);
                  //console.info("parent", scope.$parent.lenvideo);
                  //attrs.lenvid = 1200;
                  updateVideoLen();
                }
              }
            });



          };

          scope.$watch('height + width', function(newValue, oldValue) {
            if (newValue == oldValue) {
              return;
            }

            player.setSize(scope.width, scope.height);

          });

          scope.$watch('videoid', function(newValue, oldValue) {
            if (newValue == oldValue) {
              return;
            }

            if (player) {
              
              player.stopVideo();
              player.cueVideoById(scope.videoid);
              inChange = true;
              player.playVideo();
              

            };
            
          });

          scope.$on(YT_event.STOP, function () {
            player.seekTo(0);
            player.stopVideo();
          });

          scope.$on(YT_event.PLAY, function () {
            player.playVideo();
          });

          scope.$on(YT_event.PAUSE, function () {
            player.pauseVideo();
          });

          scope.$on(YT_event.SET_CURRENT_TIME, function (sec) {
            //console.info("SET_CURRENT_TIME "+sec);
            cancelInterval();
            player.pauseVideo();
            player.seekTo(sec,true);
            player.playVideo();
            reinicializeInterval();
          });

          

        }
      };
    });
	</script>
	<script>

/*
   * Binary search in JavaScript.
   * Returns the index of of the element in a sorted array or (-n-1) where n is the insertion point for the new element.
   * Parameters:
   *     ar - A sorted array
   *     el - An element to search for
   *     compare_fn - A comparator function. The function takes two arguments: (a, b) and returns:
   *        a negative number  if a is less than b;
   *        0 if a is equal to b;
   *        a positive number of a is greater than b.
   * The array may contain duplicate elements. If there are more than one equal elements in the array,
   * the returned value can be the index of any one of the equal elements.
   */
  function binarySearch(ar, el, compare_fn) {
    var m = 0;
    var n = ar.length - 1;
    while (m <= n) {
      var k = (n + m) >> 1;
      //console.info(m,n,k);
      var cmp = compare_fn(el, ar[k]);
      if (cmp > 0) {
        m = k + 1;
      } else if(cmp < 0) {
        n = k - 1;
      } else {
        return k;
      }
    }
    return m-1;
  }

/**
 * Convierte un numero de milesegundos en formato mm:ss
 * @param  {[type]} milisegundos numero de milesgundos a convertir
 * @return {[type]}              string en fomrato mm:ss
 */
function converLabel(milisegundos){
    var sec = parseInt(milisegundos/1000);

    var min = parseInt(sec/60);
    min = ("0" + min).slice(-2);
    //console.info(min,sec);
    sec = sec-(min*60);
    sec = ("0" + sec).slice(-2);
    return ""+min+":"+sec;

    }

  /**
   * Convierte un objeto track en formato de salida con nombre de valores
   * @param  {[type]} track [description]
   * @return {[type]}       [description]
   */
  function trackText(track){
    if (track) {
      var z = track.z;
      z = (z < 0) ? 0 : z;
      z = z * 0.3048;
      z = z.toFixed(2);
      //z = ("0" + z).slice(-2)
      var text = "Tiempo: " + converLabel(track.tim) + " min/" + "" + " min"
        + "</br>Dir: " + track.hea + " Grados"
        + "</br>Latitud: " + track.lat
        + "</br>Longitud: " + track.lon
        + "</br>Altura de vuelo: " + z + " metros";
      return text;
    }
  }

  /**
   * Convierte en float un string que lo represente
   * NOTA:permite puntos o comas
   * @param  {[type]} texto [description]
   * @return {[type]}       [description]
   */
	function convert(texto){
    if (texto) {
      texto = texto.replace(",",".");
      return parseFloat(texto);

    };

  }

  /**
   * Retorna un objeto element de angular segun una busqueda similar a css
   * @param  {[type]} selector [description]
   * @return {[type]}          [description]
   */
  function $jq(selector){
    return angular.element(document.querySelector(selector))
  }

	/**
 * Created by fmontoya(phipex) on 13/04/2015.
 */
/**
 * Crea el mapa de google
  * @type {{ini: Function}}
 */
var MdlGmap = {
  ini:function(){
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(6.2323,-75.56889)
    };
    map = new google.maps.Map(document.getElementById('map'),
      mapOptions);
  }
};




		var app = angular.module("LogInspector",['youtube','ui.bootstrap','rzModule']);
		app.constant('YT_event', {
	      STOP:            0,
	      PLAY:            1,
	      PAUSE:           2,
	      STATUS_CHANGE:   3,
	      GET_CURRENT_TIME:4,
	      SET_CURRENT_TIME:5
	    });



    /*
      Servicio encargado de cargar la informacion de los vuelos
     */
		app.service("VuelosService",['$http',function ($http) {
			
      /**
       * Trae todos los vuelos asociados al usuario
       * @return {$q} promeses asociado a la peticion de los vuelos
       */
			this.getAll=function () {
				
        return $http.get('data/vuelosAll.json');
        
				
			}

      /**
       * Trae todos los comentarios asociados a un id de vuelo
       * @param  {integer} idVuelo id del vuelo a consultar
       * @return {$q}         promeses asociado a la peticion de comentarios
       */
      this.getComment=function (idVuelo) {
        return $http.get('data/comentariosVuelo.json',{"idVuelo":idVuelo});
      }

      /**
       * Trae todos las fotos asociados a un id de vuelo
       * @param  {integer} idVuelo id del vuelo a consultar
       * @return {$q}         promeses asociado a la peticion de comentarios
       */
      this.getFotos=function (idVuelo) {
        return $http.get('data/fotosVuelo.json',{"idVuelo":idVuelo});
      }

      /**
       * [getTrack description]
       * @param  {integer} idVuelo id del vuelo a consultar
       * @return {$q}         promeses asociado a la peticion de comentarios
       */
      this.getTrack=function (idVuelo) {
        return $http.get('data/trackVuelo.json',{"idVuelo":idVuelo});
      }

		}]);

		app.controller("MasterDetailVuelo",['$scope',"VuelosService",'YT_event',function ($scope,VuelosService,YT_event) {
			//initial settings
	      $scope.yt = {
	        width: 240,
	        height: 186,
	        videoid: "M7lc1UVf-VE",
	        playerStatus: "NOT PLAYING"
	      };

	      $scope.YT_event = YT_event;

        /**
         * Envia un broadcast con el evento y el data asociado
         * @param  {string} ctrlEvent nombre del evento
         * @param  {objet|string|number} data      valor que debe ser enviado en el evento
         * 
         */
	      $scope.sendControlEvent = function (ctrlEvent,data) {
	        this.$broadcast(ctrlEvent,data);
	      };

	      

      /**
       * Lista de vuelos actuales
       * @type {Array}
       */
			$scope.listVuelos = [];
			/**
       * Vuelo seleccionado
       * @type {Object}
       */
      $scope.selectedVuelo = {};
      /**
       * lista con los track del vuelo seleccionado
       * @type {Array}
       */
      $scope.selectedTrackVuelo = [];
      /**
       * lista con los comentarios del vuelos seleccionado
       * @type {Array}
       */
      $scope.selectedComsVuelo = [];
      /**
       * lista con las fotos de los vuelos seleccionados
       * @type {Array}
       */
      $scope.selectedFotVuelo = [];
      /**
       * desface del track con el video
       * @type {Number}
       */
      $scope.delay = 0;
      /**
       * Marca asociada al track actual
       * @type {google.map.marker}
       */
      $scope.droneMarker = null;
      /**
       * duracion del video
       * @type {Number}
       */
      $scope.lenvideo=450;

      /**
       * lista con las tareas asociadas a la carga de los vuelos
       * @type {TaskRegister}
       */
      var taskEndLoadVuelo = new TaskRegister();
      //console.info("taskEndLoadVuelo",taskEndLoadVuelo);
      var funEndLoadVuelo = function () {
        hideLoad();
      }
      taskEndLoadVuelo.endCallback = funEndLoadVuelo;

      /**
       * opciones del icono
       * @type {Object}
       */
      var icon = {

        url: "img/drone.png",

        width: 40,

        height: 40

      };

      /**
       * Define el evento cargado
       * @param  {[type]} argument [description]
       */
      function showLoad (argument) {
        $scope.inLoad = true;

      }
      /**
       * Termina el evento cargado
       * @param  {[type]} argument [description]
       */
      function hideLoad (argument) {
        $scope.inLoad = false;
      }

      /**
       * Mueve la marca asociada al track actual
       * @param  {float} lat  latitud
       * @param  {float} lon  longitud
       * @param  {integer} hea  direccion
       * @param  {string} text texto asociado
       */
      function moveDroneMarker (lat, lon, hea,text) {
        if ($scope.droneMarker) {

          $scope.droneMarker.moveMarker(convert(lat),convert(lon),hea);
          $scope.droneMarker.marker.msg = text;

        }else{
          console.info(convert(lat),convert(lon),hea,icon);
          $scope.droneMarker = new MarkerMoveRotateUni(convert(lat),convert(lon),hea,icon);
        }
      }


      function compare_fn(value, item){

        var time = item.tim;

        return value - time;
      }

      
      /**
       * FUncion encargada de buscar el track correspondiete al tiempo
       * @param  {[type]} tim [description]
       * @return {[type]}     [description]
       */
      function searchTime (tim) {
        var trackPoint = $scope.selectedTrackVuelo[binarySearch($scope.selectedTrackVuelo, tim, compare_fn)]

        return trackPoint;

      }

      /**
       * dibuja el track en le mapa
       * @param  {[type]} RECORDS [description]
       * @return {[type]}         [description]
       */
      function drawTrack (RECORDS) {
        var layerrepo = new gmapLayerLine();
        angular.forEach(RECORDS,function(item,index){
          //console.info(item);
          var lat = convert(item.lat);
          var lon = convert(item.lon);
          var latlon = new google.maps.LatLng(lat,lon);
          //console.info(lat,lon,latlon);
          layerrepo.pushPoint(lat,lon);
          item.latlon = latlon;
        });
        layerrepo.drawRute();
        layerrepo.toExtend(map);
      }

      /**
       * Carga la lista de vuelos
       */
      function cargarVuelos () {
        //console.info("VuelosService",VuelosService);
        var label = "Carga vuelos";
        taskEndLoadVuelo.register(label);
        

        
        VuelosService.getAll().then(function (datos) {
          console.info("Carga vuelos",datos);
          $scope.listVuelos = datos.data;
          if ($scope.listVuelos.length > 0) {
            $scope.selectVuelo($scope.listVuelos[0]);
          };

        },
        function (data, status, headers, config) {
          alert("Problemas al cargar los datos");
        }
        )        
        .finally(function (argument) {
          console.info()
          taskEndLoadVuelo.endTask(label);
        });

        
        
      };

      /**
       * Carga la lista de comentarios asociados al vuelo
       * @param  {integer} idVuelo id del vuelo
       */
      function cargarCom (idVuelo) {
        console.info("Carga comentarios");
        var label = "Carga comentarios";
        taskEndLoadVuelo.register(label);
        VuelosService.getComment(idVuelo).success(function (datos) {
          console.info("Carga comentarios");
          $scope.selectedComsVuelo = datos;
          if ($scope.selectedComsVuelo.length > 0) {
            
          };
        })
        .error(function (data, status, headers, config) {
          alert("Problemas al cargar los datos");
        }).finally(function (argument) {
          console.info("end"+label);
          taskEndLoadVuelo.endTask(label);
        });        
      }

      /**
       * Carga la lista de fotos asociados al vuelo
       * @param  {integer} idVuelo id del vuelo
       * @return {[type]}         [description]
       */
      function cargarFot (idVuelo) {
        console.info("Carga fotos");
        var label = "Carga fotos";
        taskEndLoadVuelo.register(label);
        VuelosService.getComment(idVuelo).success(function (datos) {
          console.info("Carga fotos");
          $scope.selectedFotVuelo = datos;
          if ($scope.selectedFotVuelo.length > 0) {
            
          };
        })
        .error(function (data, status, headers, config) {
          alert("Problemas al cargar los datos");
        }).finally(function (argument) {
          console.info("end"+label);
          taskEndLoadVuelo.endTask(label);
        });
      }

      /**
       * Carga el track asociado al id de vuelo
       * @param  {[type]} idVuelo id del vuelo]
       */
      function cargarTrack (idVuelo) {
        console.info("Carga track");
        var label = "Carga track";
        taskEndLoadVuelo.register(label);
        VuelosService.getTrack(idVuelo).success(function (datos) {
          console.info("Carga track");
          $scope.selectedTrackVuelo = datos;
          if ($scope.selectedTrackVuelo.length > 0) {
            //TODO crear linea
            drawTrack($scope.selectedTrackVuelo);

            //TODO crear puntos
          };
        })
        .error(function (data, status, headers, config) {
          alert("Problemas al cargar los datos");
        }).finally(function (argument) {
          console.info("end"+label);
          taskEndLoadVuelo.endTask(label);
        });
      }

      /**
       * Evento al seleccionar un track
       * - Pinta los valores de tiempo, altura,etc
       * @param  {object} pointTrack objeto que representa el track
       */
      function selecterPointTrack (pointTrack) {
        

        console.info(pointTrack);
        if (pointTrack) {

            //TODO pintar timpo
            $jq("#timeTrack").html(pointTrack.tim);
            //TODO pintar direccion
            $jq("#dirTrack").html(pointTrack.hea);
            //TODO pintar latitud
            $jq("#latTrack").html(pointTrack.lat);
            //TODO pintar longitud
            $jq("#latTrack").html(pointTrack.lat);
            //TODO pintar altura
            $jq("#lonTrack").html(pointTrack.z);
            //TODO mover la marca
        };

        
        
      }

      /**
       * evento lanzado cuano se selecciona un vuelo
       * @param  {objeto} vuelo objeto vuelo seleccionado
       */
			$scope.selectVuelo=function (vuelo) {
				console.info("selected vuelo");
        //muestra el mensaje de cargando
        showLoad();
        //define las variables del vuelo
        $scope.selectedVuelo = vuelo;
				//carga el video asociado al vuelo
        $scope.yt.videoid = vuelo.cod;
        
        //carga los datos asociados al vuelo
        var id = vuelo.id;
        cargarCom(id);
        cargarFot(id);
        cargarTrack(id);
			};


      $scope.$on(YT_event.STATUS_CHANGE, function(event, data) {
          $scope.yt.playerStatus = data;
          console.info("status change",data);

        });

        /*
          Definicion de el evento cuando el video esta avanzando
          - define el tiempo actual teniendo en cuenta el delay
          - seleeciona el track
          - mueve la marca
         */
        $scope.$on(YT_event.GET_CURRENT_TIME, function(event, data) {
          $scope.yt.ctime = data;
          var current = (data * 1000) - $scope.delay;
          var pointTrack = searchTime(current);
          if (pointTrack) {
            selecterPointTrack(pointTrack);
            moveDroneMarker(pointTrack.lat,pointTrack.lon, pointTrack.hea, trackText(pointTrack),'img/drone.png');
          };
          
        });


        $scope.setCurrentTime=function(value){
          this.$broadcast(YT_event.SET_CURRENT_TIME,value);
          
        };
			
      

      $scope.initMap=function () {
        console.info("Carga mapas");
        MdlGmap.ini();
      }
			cargarVuelos();
      hideLoad();

      //MdlGmap.ini();


	
  
		}]);
	</script>
</body>
</html>