<!DOCTYPE html>
<html lang="en" ng-app="myApplicationModule">
<head>
    <meta charset="UTF-8">
    <title></title>
<style>
    .angular-google-map-container { height: 400px; }
</style>
</head>
<body ng-controller="MapController">
sdsd
<div ng-repeat="fot in selectedFotVuelo">
   <div ng-click="eventSelectMarkerFoto(fot)"> {{fot}}</div>
</div>
<ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control'>
    <ui-gmap-polyline id="poli" path="selectedTrackVuelo" stroke="stroke"></ui-gmap-polyline>
    >

    <ui-gmap-markers models="selectedFotVuelo" coords="'self'" icon="'icon'" click="clickFotMarker" >

    </ui-gmap-markers>
    <ui-gmap-window options="windowOptions" closeClick="closeClick()" coords="fotSelect" templateUrl="'templateFotoComment.html'" templateParameter="fotSelect">

    </ui-gmap-window>

</ui-gmap-google-map>

<script src='bower_components/lodash/lodash.min.js'></script>
<script src='bower_components/angular/angular.min.js'></script>
<script src='bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
<script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script>
    function createBounds(list){
        var bounds = new google.maps.LatLngBounds();
        var len = list.length;
        for (var i = 0; i < len; i++) {
            var obj = list[i];
            var latlng = new google.maps.LatLng(obj.latitude,obj.longitude);
            bounds = bounds.extend(latlng);
        }
        return bounds;
    }


    function addIcon(list,icon){
        var len = list.length;
        for (var i = 0; i < len; i++) {
            var obj = list[i];
            obj.icon = icon;
        }
    }

    /**
     * Convierte en float un string que lo represente
     * NOTA:permite puntos o comas
     * @param  {[type]} texto [description]
     * @return {[type]}       [description]
     */
    function convert(texto){
        if (texto) {
            texto = texto.replace(",",".");
            return parseFloat(texto);

        };

    }

    function cord2Coordinates(obj){
        if(obj.lat)
        {
            obj.latitude = convert(obj.lat);
            delete obj.lat;
        }
        if(obj.lon)
        {
            obj.longitude = convert(obj.lon);
            delete obj.lon;
        }

    }



    function listCord2ListCoordinates(list){
        var len = list.length;
        for (var i = 0; i < len; i++) {
            var obj = list[i];
            cord2Coordinates(obj);

        }
    }

    var app = angular.module('myApplicationModule', ['uiGmapgoogle-maps']);

    /*
     Servicio encargado de cargar la informacion de los vuelos
     */
    app.service("VuelosService",['$http',function ($http) {

        /**
         * Trae todos los vuelos asociados al usuario
         * @return {$q} promeses asociado a la peticion de los vuelos
         */
        this.getAll=function () {

            return $http.get('data/vuelosAll.json');


        };

        /**
         * Trae todos los comentarios asociados a un id de vuelo
         * @param  {integer} idVuelo id del vuelo a consultar
         * @return {$q}         promeses asociado a la peticion de comentarios
         */
        this.getComment=function (idVuelo) {
            return $http.get('data/comentariosVuelo.json',{"idVuelo":idVuelo});
        };

        /**
         * Trae todos las fotos asociados a un id de vuelo
         * @param  {integer} idVuelo id del vuelo a consultar
         * @return {$q}         promeses asociado a la peticion de comentarios
         */
        this.getFotos=function (idVuelo) {
            return $http.get('data/fotosVuelo.json',{"idVuelo":idVuelo});
        };

        /**
         * [getTrack description]
         * @param  {integer} idVuelo id del vuelo a consultar
         * @return {$q}         promeses asociado a la peticion de comentarios
         */
        this.getTrack=function (idVuelo) {
            return $http.get('data/trackVuelo.json',{"idVuelo":idVuelo});
        };

    }]);

    app.controller('MapController',['$scope',"VuelosService","$timeout",function ($scope,VuelosService,$timeout){
        $scope.map = { center: { latitude: 6.232332, longitude: -75.56889 }, zoom: 8 ,control:{}};

        $scope.stroke = {
            color: '#FF0000',
            weight: 2
        };

        $scope.selectedTrackVuelo = [];

        $scope.selectedFotVuelo = [];

        $scope.iconfot = {url:'img/comment-map-icon.png'};

        $scope.infoBounds={};

        $scope.eventSelectMarkerFoto =function (modelo) {
            $scope.windowOptions.visible = true;
            $scope.fotSelect = modelo;
        };

        $scope.clickFotMarker = function(marka,strevento,modelo){

            $scope.eventSelectMarkerFoto(modelo);
        };

        $scope.fotSelect = {};

        $scope.windowOptions = {
            visible: false
        };

        $scope.onClick = function() {
            $scope.windowOptions.visible = !$scope.windowOptions.visible;
        };


        function calculateBouns(datos){
            $scope.infoBounds = createBounds(datos);
            $scope.map.control.getGMap().fitBounds($scope.infoBounds);
            console.info($scope.infoBounds);
        }

        /**
         * Carga el track asociado al id de vuelo
         * @param  {[type]} idVuelo id del vuelo]
         */
        function cargarTrack (idVuelo) {
            console.info("Carga track");

            VuelosService.getTrack(idVuelo).success(function (datos) {
                console.info("Carga track");

                listCord2ListCoordinates(datos);

                $scope.selectedTrackVuelo = datos;
                calculateBouns(datos);
                //console.info($scope.map.control.getGMap());
            })
                    .error(function (data, status, headers, config) {
                        alert("Problemas al cargar los datos");
                    }).finally(function (argument) {
                        console.info("end"+label);

                    });
        }

        /**
         * Carga la lista de fotos asociados al vuelo
         * @param  {integer} idVuelo id del vuelo
         * @return {[type]}         [description]
         */
        function cargarFot (idVuelo) {
            console.info("Carga fotos");
            var label = "Carga fotos";

            VuelosService.getFotos(idVuelo).success(function (datos) {
                console.info("Carga fotos");
                //array2Object(datos,$scope.selectedFotVuelo);
                listCord2ListCoordinates(datos);
                $scope.selectedFotVuelo = datos;
                addIcon(datos,"img/photo.png");
                if ($scope.selectedFotVuelo.length > 0) {
                    //console.info(map);
                    //console.info($scope.selectedFotVuelo);
                    //loadMarkerFot($scope.selectedFotVuelo);
                };
            })
                    .error(function (data, status, headers, config) {
                        alert("Problemas al cargar los datos");
                    }).finally(function (argument) {
                        console.info("end"+label);

                    });
        }

        $timeout(function(){cargarTrack(1);cargarFot (1)},2000);


    }]);
app.controller('templateController',function($scope){
    $scope.clicTemplateFotEvent=function(){
        console.info($scope.parameter);
    }
});

</script>
</body>
</html>