<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Prueba Bootstrap Slider Angular</title>
	<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
</head>


<body>
	<div ng-controller="psliderController" >
		<input ng-model="title"/>
		<!-- it can be used as an element -->
		<span>{{testOptions.min}}</span>
		<slider	ng-model="sliders.sliderValue" 
				min="testOptions.min"
				step="testOptions.step" 
				max="testOptions.max" 
				value="testOptions.value"
				tooltip="show"></slider>
		<span>{{testOptions.max}}</span>
		<!-- ..or an attribute -->
		
		<pre id="custom-spacing">{{ sliders | json:4 }}</pre>
		<pre id="custom-spacing2">{{ testOptions | json:4 }}</pre>
	</div>

</body>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="bower_components/angular-bootstrap-slider/slider.js"></script>
<script>
	//app.module.js
	angular.module("app",['ui.bootstrap-slider']);

	//psliderController.js
	(function (argument) {
		

		angular
		.module("app")
		.controller("psliderController",psliderController);

		function psliderController ($scope) {
			var vm = $scope;
		    vm.title = 'Some Title';
		    vm.sliders = {
		    	sliderValue: 0,

		    };
		    vm.testOptions = {
		    	min: 0,
		    	max:100,
		    	value: 0
		    };

		    vm.$watch('vm.title', function(current, original) {
		        console.info("cambio",current);
		    });
		}

		
	})();

	

</script>
</html>
