
<div ng-controller="templateController">

<h3>{{parameter.title}}</h3>
<div>{{parameter.com}}</div>
<div>{{parameter.coms.length}} Anotaciones</div>
<div class="btn btn-defaiult" ng-click="clicTemplateFotEvent()">soy un boton creame</div>
</div>